# Virtual env
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS / IDE
.DS_Store
Thumbs.db
.vscode/

# Project local data (optional - if large/private)
data/
database/

# Build / wheel artifacts
wheels/
wheels_streamlit/

# Logs
*.log