streamlit==1.57.0
altair
anyio
blinker
cachetools
click
gitpython
httptools
itsdangerous
packaging
pillow
protobuf
pyarrow
pydeck
python-multipart
requests
starlette
tenacity
toml
typing-extensions
uvicorn
watchdog
websockets
